{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	- Email reinitialisation mot de passe envoyé
{% endblock %}

{% block body %}
	<div class="container content-container">
		<div class="row mt-5">
			<h1 class="text-primary mt-5">Email réinitialisation mot de passe envoyé</h1>
			<p class="mt-5">
				Si un compte correspond à votre email, alors un email a juste été envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
				                Ce lien expirera dans
				{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>Si vous ne recevez pas d'email, merci de regarder votre dossier spams ou
				<a href="{{ path('app_forgot_password_request') }}">ré-essayer</a>.</p>
		</div>
	</div>
{% endblock %}
