{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Créer nouvelle catégorie{% endblock %}

{% block body %}
<div class="container content-container">
    <h1 class="text-primary mt-5 mb-2">Créer nouvelle catégorie</h1>
    <div class="row">
        <div class="col text-end">
            <a class="btn btn-secondary" href="{{ path('category_index') }}">Retour à la liste</a>
        </div>
    </div>

    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
