<div class="card shadow-sm" style="min-width: 250px;">
	<img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top p-2" alt="image {{product.name}}" height="250">
	<div class="card-body text-center">
		<h5 class="card-title text-dark">{{product.name}}</h5>
		<h5 class="card-text">{{product.price|number_format(2, ',', ' ') }}
			€</h5>
	</div>
</div>
