{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Mettre à jour mes informations
{% endblock %}

{% block body %}
	<div class="container content-container">
		<h1 class="text-primary mt-5 mb-3">Mettre à jour mes informations</h1>
		<div class="row mb-3">
			<div class="col text-end">
				{% if is_granted('ROLE_ADMIN') %}
					<a class="btn btn-secondary" href="{{ path('user_index') }}">Retour à la liste</a>
				{% else %}
					<a class="btn btn-secondary" href="{{ path('app_account') }}">Retour à mon compte</a>
				{% endif %}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
			</div>
		</div>

	</div>
{% endblock %}
