{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="container content-container">
		<h1 class="text-primary mt-5 mb-3">Créer un nouvel admin</h1>
		<div class="row mb-3">
			<div class="col text-end">
				<a class="btn btn-secondary" href="{{ path('user_index') }}">Retour à la liste</a>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-8">
				{{ include('user/_form.html.twig') }}
			</div>
		</div>

	</div>
{% endblock %}
